.calculator {
	display: inline-block;

	width: 61.6vw;
	margin-top: 100px;
	margin-left: 19.2vw;
	margin-right: 19.2vw;

	border-width: 1px;
	border-radius: 8px;

	background-color: rgba(64, 64, 64, 0.5);
}

#stockNumberInput {
	width: 60%;

	margin: 4px;
	padding: 4px;

	font-size: 24px;
	color: #dddddd;

	border-width: 2px;
	border-radius: 2px;
	border-color: #707070;
	border-style: unset;

	background-color: #707070;
}

#stockNumberInput::placeholder {
	color: #dedede;
	opacity: 0.5;
}

#incorrectInputMsg {
	display: inline-block;
	opacity: 0;

	height: 20px;

	margin: 0px;
	margin-top: 10px;

	font-size: 20px;
	color: #dd2222;

	transition: 0.5s;
}
