.calculator {
	display: inline-block;

	width: 61.6vw;
	margin-top: 100px;
	margin-left: 19.2vw;
	margin-right: 19.2vw;

	border-width: 1px;
	border-radius: 8px;

	background-color: rgba(64, 64, 64, 0.5);
}

.calculator input {
	margin: 4px;
}
